<strong>WHAT IS GAMEDEVMAP?</strong>
<p>gamedevmap is a living map and catalog of game development organizations around the world.</p>

<strong>HOW DO I USE THE MAP?</strong>
<p>The gamedevmap database can be searched in several ways:</p>
<p><li>Click on a colored dot on the map to search for all the companies and organizations in that location.
<li>Type a company, city, country, or region name into the search area and press the search button to find more specific data.
<li>Click on a category below the search bar to quickly see all the companies that fall under that category.
The results of your search will be displayed below the map.</p>

<strong>ON WHAT CRITERIA ARE COMPANIES ADDED TO THE GAMEDEVMAP DATABASE?</strong>
<p>Publishers, development studios with a staff of five or more, studios with previously published games, and studios under contract with a publisher are listed. Middleware companies, service providers, and schools are not currently being tracked. gamedevmap does not track individual talent, consultants, or mod groups.</p>

<strong>HOW OFTEN IS GAMEDEVMAP UPDATED?</strong>
<p>Our database is updated regularly. We rely on your support to keep our data current. </p>

<p>Please address additions and corrections to contact (at) gamedevmap.com. Include Company Name, URL, City, State/Province, and Country. Follow gamedevmap on <a href="https://twitter.com/gamedevmap">Twitter</a> and <a href="https://www.facebook.com/gamedevmap/">Facebook</a> to be notified of data drops and other news.</p>

<strong>WHAT IF I STILL HAVE UNANSWERED QUESTIONS?</strong>
<p>Email contact (at) gamedevmap.com and we will do our best to get back to you.</p>
