<strong>HOW DO I USE THE MAP?</strong>
<p>The gamedevmap database can be searched in several ways:</p>
<li>Click on a colored dot on the map to search for all the companies and organizations in that location.
<li>Type a company, city, country, or region name into the search area and press the search button to find more specific data.
<li>Click on a category below the search bar to quickly see all the companies that fall under that category.
The results of your search will be displayed below the map.
