
<p>gamedevmap is a self-funded passion project.  Please consider making a donation to support our ongoing development and maintenance.</p>
<p>gamedevmap 2.0 will crowdsource maintenance of the dataset and track additional data.</p>

<p>Click <a href="https://www.paypal.com/donate/?token=FZwstRsfbjuDW809U2xSKubrkp0iutxd3ovHrGgDWdnxk8uVclmExzVPaWhAA73SZPBkM0&country.x=US&locale.x=US">here</a> to donate.</p>

Thank you!