<h3>Notice a company missing?</h3>
<h4>Submit it here.  We'll review it and if it meets our criteria, we'll add it to the database.</h4>

<br>
<%= render 'form', company: @company %>

<br>
<br>
<p><%= link_to 'Back to Company List',companies_path %></p>